.reactpdf-wrapper {
    position: absolute;
    inset: 0;
    background: #2a2a2a;
}

.reactpdf-wrapper .rpv-core__viewer {
    height: 100%;
}

.reactpdf-wrapper.panning,
.reactpdf-wrapper.panning .rpv-core__inner-pages {
    cursor: grabbing !important;
}

.reactpdf-overlay {
    overflow: visible;
    pointer-events: all;
}

.reactpdf-mark {
    cursor: grab;
}

.reactpdf-mark.dragging {
    cursor: grabbing;
}
